<mat-card class="panel">
  <mat-card-content>
    <mat-form-field class="wide">
      <input
        [(ngModel)]="query"
        matInput
        placeholder="Search"
        (keydown.enter)="search()"
      />
      <button
        mat-button
        *ngIf="query"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear()"
      >
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
      <button
        mat-button
        *ngIf="query"
        matSuffix
        mat-icon-button
        aria-label="Submit"
        (click)="search()"
      >
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </mat-form-field>
    <div id="result-list" fxLayout="column" fxLayoutAlign="start start">
      <div
        class="searchResult"
        *ngFor="let result of results; let i = index"
        (click)="addToList(i)"
      >
        <img fxFlex="20%" src="{{ result.snippet.thumbnails.high.url }}" />
        <div fxFlex="5%"></div>
        <p fxFlex="75%">{{ result.snippet.title }}</p>
      </div>
    </div>
    <mat-form-field class="wide" *ngIf="newList && newList.length > 0">
      <input [(ngModel)]="listTitle" matInput placeholder="Title" />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearList()"
      >
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
      <button
        matSuffix
        mat-icon-button
        aria-label="Submit"
        (keydown.enter)="saveList()"
        (click)="saveList()"
      >
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
    </mat-form-field>
    <div class="list" cdkDropListGroup>
      <div
        cdkDropList
        [cdkDropListData]="i"
        *ngFor="let song of newList; let i = index"
        [style.width]="'100%'"
      >
        <div
          fxLayout
          fxLayoutAlign="start center"
          cdkDrag
          [cdkDragData]="i"
          (cdkDragEntered)="drop($event)"
        >
          <button fxFlex="10%" (click)="remove(i)" mat-icon-button>
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
          <p fxFlex="90%">{{ song.title }}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
