<mat-card>
  <mat-card-content>
    <div class="list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let song of songs; let i = index">
        <div
          fxLayout
          fxLayoutAlign="start center"
          *ngIf="i > 0"
          class="song"
          cdkDrag
        >
          <button fxFlex="10%" (click)="remove(i)" mat-icon-button>
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
          <p fxFlex="80%">{{ song.title }}</p>
          <img
            height="50px"
            class="profile"
            *ngIf="song.user"
            src="https://cdn.discordapp.com/avatars/{{ song.user.id }}/{{
              song.user.avatar
            }}"
          />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
