<div class="container" *ngIf="selected">
  <mat-toolbar>
    <button mat-button routerLink="">
      <fa-icon [icon]="faHome" size="2x"></fa-icon>
    </button>
    <mat-form-field>
      <mat-select [(value)]="selected" (selectionChange)="selectGuild()">
        <mat-option *ngFor="let guild of guilds" [value]="guild">
          {{ guild.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <img
      class="profile"
      height="50px"
      src="https://cdn.discordapp.com/icons/{{ selected.id }}/{{
        selected.icon
      }}"
    />
    <p class="navUsername">{{ user.username }}</p>
    <img
      class="profile"
      height="50px"
      src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}"
    />
    <button mat-icon-button (click)="googleSignIn()">
      <fa-icon [icon]="faGoogle"></fa-icon>
    </button>
    <a [href]="spotifyUrl">
      <fa-icon [icon]="faSpotify"></fa-icon>
    </a>
  </mat-toolbar>
  <div class="home" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between">
    <div class="list panel" fxLayout="column" fxFlex="30%">
      <mat-card>
        <div>
          <a
            fxLayout
            fxLayoutAlign="start center"
            (click)="selectedList = { title: 'Favorites', songs: favorites }"
          >
            <fa-icon [icon]="faCloud" size="2x" fxFlex="15%"></fa-icon>
            <div fxFlex="5%"></div>
            <h4>Favorites</h4></a
          >
        </div>
        <div>
          <a
            fxLayout
            fxLayoutAlign="start center"
            (click)="selectedList = { title: 'Most Added', songs: mostAdded }"
          >
            <fa-icon [icon]="faCloud" size="2x" fxFlex="15%"></fa-icon>
            <div fxFlex="5%"></div>
            <h4>Most Added</h4></a
          >
        </div>
        <div>
          <a
            fxLayout
            fxLayoutAlign="start center"
            (click)="selectedList = { title: 'History', songs: history }"
          >
            <fa-icon [icon]="faCloud" size="2x" fxFlex="15%"></fa-icon>
            <div fxFlex="5%"></div>
            <h4>History</h4></a
          >
        </div>
        <div *ngFor="let list of lists">
          <a
            fxLayout
            fxLayoutAlign="start center"
            (click)="selectedList = list"
          >
            <fa-icon
              *ngIf="list.type === 'firestore'"
              [icon]="faCloud"
              size="2x"
              fxFlex="15%"
            ></fa-icon>
            <fa-icon
              *ngIf="list.type === 'spotify'"
              [icon]="faSpotify"
              size="2x"
              fxFlex="15%"
            ></fa-icon>
            <fa-icon
              *ngIf="list.type === 'youtube'"
              [icon]="faYoutube"
              size="2x"
              fxFlex="15%"
            ></fa-icon>
            <div fxFlex="5%"></div>
            <h4>{{ list.title }}</h4>
          </a>
        </div>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="5%"></div>
    <div fxLayout="column" class="list panel" fxFlex="30%">
      <mat-card *ngIf="selectedList">
        <mat-card-title
          >{{ selectedList.title }}
          <button
            *ngIf="selectedList.type === 'firestore'"
            mat-icon-button
            (click)="editList(selectedList)"
          >
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
        </mat-card-title>
        <div
          fxLayout
          fxLayoutAlign="left center"
          *ngFor="let song of selectedList.songs"
          (click)="addSongFromList(song)"
        >
          <button fxFlex="10%" mat-icon-button>
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <p>{{ song.title }}</p>
        </div>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="5%"></div>
    <div class="panel" fxLayout="column" fxFlex="30%">
      <mat-card>
        <mat-card-content>
          <mat-form-field class="wide">
            <input
              [(ngModel)]="query"
              matInput
              placeholder="Search"
              (keydown.enter)="search()"
            />
            <button
              mat-button
              *ngIf="query"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clear()"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
            <button
              mat-button
              *ngIf="query"
              matSuffix
              mat-icon-button
              aria-label="Submit"
              (click)="search()"
            >
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </mat-form-field>
          <div fxLayout="column" fxLayoutAlign="start center">
            <div
              class="searchResult"
              *ngFor="let result of results; let i = index"
              (click)="addToList(i)"
            >
              <img
                fxFlex="30%"
                src="{{ result.snippet.thumbnails.high.url }}"
              />
              <div fxFlex="5%"></div>
              <p fxFlex="65%">{{ result.snippet.title }}</p>
            </div>
          </div>
          <mat-form-field class="wide" *ngIf="newList && newList.length > 0">
            <input [(ngModel)]="listTitle" matInput placeholder="Title" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearList()"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
            <button
              matSuffix
              mat-icon-button
              aria-label="Submit"
              (keydown.enter)="saveList()"
              (click)="saveList()"
            >
              <fa-icon [icon]="faSave"></fa-icon>
            </button>
          </mat-form-field>
          <div style="display:flex;flex-wrap:wrap" cdkDropListGroup>
            <div
              cdkDropList
              [cdkDropListData]="i"
              *ngFor="let song of newList; let i = index"
              [style.width]="'100%'"
            >
              <div
                fxLayout
                fxLayoutAlign="start center"
                cdkDrag
                [cdkDragData]="i"
                (cdkDragEntered)="drop($event)"
              >
                <button fxFlex="10%" (click)="remove(i)" mat-icon-button>
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
                <p fxFlex="90%" class="list">{{ song.title }}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
