<div class="container" *ngIf="selected">
  <mat-toolbar>
    <button mat-button routerLink="">
      <fa-icon [icon]="faHome" size="2x"></fa-icon>
    </button>
    <mat-form-field>
      <mat-select [(value)]="selected" (selectionChange)="selectGuild()">
        <mat-option *ngFor="let guild of guilds" [value]="guild">
          {{ guild.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <img
      class="profile"
      height="50px"
      src="https://cdn.discordapp.com/icons/{{ selected.id }}/{{
        selected.icon
      }}"
    />
    <p class="navUsername">{{ user.username }}</p>
    <img
      class="profile"
      height="50px"
      src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}"
    />
    <button mat-icon-button (click)="googleSignIn()">
      <fa-icon [icon]="faGoogle"></fa-icon>
    </button>
    <a [href]="spotifyUrl">
      <fa-icon [icon]="faSpotify"></fa-icon>
    </a>
  </mat-toolbar>
  <div class="home" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between">
    <div class="panel" fxFlex="32%">
      <app-list-editor></app-list-editor>
    </div>
    <div fxFlex="2%"></div>
    <div fxFlex="65%">
      <app-lists></app-lists>
    </div>
  </div>
</div>
