<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input
        [(ngModel)]="query"
        matInput
        placeholder="Search"
        (keydown.enter)="search()"
      />
      <button
        mat-button
        *ngIf="query"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear()"
      >
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
      <button
        mat-button
        *ngIf="query"
        matSuffix
        mat-icon-button
        aria-label="Submit"
        (click)="search()"
      >
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="start center">
      <div
        class="searchResult"
        *ngFor="let result of results; let i = index"
        (click)="addToQueue(i)"
      >
        <img fxFlex="30%" src="{{ result.snippet.thumbnails.high.url }}" />
        <div fxFlex="5%"></div>
        <p fxFlex="65%">{{ result.snippet.title }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
